body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    justify-content: row;
    justify-content: center;
    align-items: center;
}

main{
    background-color: #f5f7fb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

h1{
    color: #2463eb;
}

nav{
    display: flex;
    gap: 10px;
}

nav a{
    background-color: #eff6ff;
    padding: 10px;
    border-radius: 30px;
    color: #2463eb;
    text-decoration: none;
    font-weight: bold;
}

button{
    background-color: #2463eb;
    color: white;
    width: 100%;
}

#titulo{
    margin: 50px 00px;
    border-radius: 30px;
    background-image: linear-gradient(to right, #0744c9,#5a9ef8);
    padding: 30px 20px;
    color: white;
}

#titulo span{
    background-color: #6489f0;
    padding: 5px;
    border-radius: 20px;
    font-weight: bold;
}

p{
    margin: 0;
}

.formularios{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

.formulario{
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
}

.formulario label{
    font-weight: bold;
}

.container section{
    background-color: white;
    padding: 20px;
    border-radius: 30px;
}

.elementosSemanticos{
    background-color: #f5f7ff;
    padding: 5px;
    color: #7f7ac5;
    border-radius: 20px;
}

input{
    border: 1px solid #bbbbbb;
    border-radius: 10px;
    padding: 10px;
}

button{
    border-radius: 10px;
    padding: 10px;
    border: none;
    margin-top: 10px;
}

.msg-erro{
    border-radius: 10px;
    padding: 5px;
    border: 1px gray solid;
    font-size: x-small;
    margin-top: 2px;
    display: none;
}

.msg-erro.ativo{
    display: block;
}

#final{
    margin-top: 50px;
}

#logado{
    border: 1px rgb(73, 185, 250) solid;
    background-color: #d2e0f3;
    padding: 20px;
    display: none;
    margin-top: 50px;
}

#logado.ativo{
    display: flex;
    flex-direction: row;
}

.informacoesLogado span{
    color: #2463eb;
    background-color: #bcd5f5;
    padding: 5px;
    border-radius: 10px;
}

.informacoesLogado{
    width: 100%;
}

.botoes{
    display: flex;
    gap: 10px;
    align-items: center;
}

.botoes button{
    width:100px;
    height: 50px;
}

#sair{
    background-color: rgb(201, 200, 200);
    color: black;
    font-weight: bold;
}

#apagar{
    background-color: rgb(156, 4, 4);
    font-weight: bold;
}

#msgLogin{
    display: none;
}

#msgLogin.ativo{
    display: block;
}