body{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: row;
    justify-content: center;
    align-items: center;
}

main{
    background-color: #f5f7fb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

h1{
    color: #2463eb;
}

nav{
    display: flex;
    gap: 10px;
}

nav a{
    background-color: #eff6ff;
    padding: 10px;
    border-radius: 30px;
    color: #2463eb;
    text-decoration: none;
    font-weight: bold;
}

button{
    background-color: #2463eb;
    color: white;
    width: 100%;
}

#titulo{
    margin: 50px 00px;
    border-radius: 30px;
    background-image: linear-gradient(to right, #0744c9,#5a9ef8);
    padding: 30px 20px;
    color: white;
}

#titulo span{
    background-color: #6489f0;
    padding: 5px;
    border-radius: 20px;
    font-weight: bold;
}

p{
    margin: 0;
}

.formularios{
    display: flex;
    gap: 20px;
}
